@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black text-base;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
h1,
h2,
h3 {
  @apply font-bold;
}
.cont {
  @apply px-5 max-w-[1300px] mx-auto;
}

.bg-subs {
  @apply absolute bottom-0 left-0 w-full -z-10 h-[240px] bg-cover bg-no-repeat bg-blend-soft-light bg-[center_20%];
  @apply md:bg-[center_38%] lg:h-[340px];
  background-color: rgba(242, 233, 216, 0.6);
  background-image: url("./images/img_5.jpg");
}
.bg-subs-test {
  @apply h-[240px] bg-cover bg-no-repeat bg-blend-soft-light bg-[center_20%];
  @apply md:bg-[center_38%] lg:h-[340px];
  background-color: rgba(242, 233, 216, 0.6);
  background-image: url("./images/img_5.jpg");
}
/* 특정 문자열로 시작하는 요소를 모두 선택 */
[class^="btn"] {
  @apply text-white rounded-full text-nowrap;
}
.btn-primary {
  @apply bg-primary text-sm py-[11px] px-[24px] font-bold;
  @apply lg:text-base lg:py-[15px] lg:px-[30px];
}
.btn-sns {
  @apply w-8 h-8 p-1.5 bg-primary-light;
  @apply w-[42px] h-[42px] p-[9px];
}
.wrap-img img {
  @apply w-[260px] rounded-[18px] shadow-base-m;
  @apply lg:w-[calc((100%-144px)/3)] lg:shadow-base-pc;
}
.btn-top {
  &::after {
    @apply inline-block w-10 h-10 bg-[#c4c4c4];
    content: "";
    mask: url("./images/top-btn.svg") no-repeat center / contain;
  }
  &:hover {
    &::after {
      @apply bg-[#767676];
    }
  }
}
